export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8

export DEFAULT_USER=$(whoami)

pathappend() {
  for ARG in "$@"
  do
    if [ -d "$ARG" ] && [[ ":$PATH:" != *":$ARG:"* ]]; then
        PATH="$PATH:$ARG"
    fi
  done
}

pathprepend() {
  for ARG in "$@"
  do
    if [ -d "$ARG" ] && [[ ":$PATH:" != *":$ARG:"* ]]; then
        PATH="$ARG:$PATH"
    fi
  done
}

# If you come from bash you might have to change your $PATH.
pathprepend ${HOME}/bin /usr/local/bin ${HOME}/.local/bin

# unix
#export GREP_OPTIONS='--color=auto --exclude=*.pyc --exclude=.* --exclude-dir=.*'

# --- VIM ---
export EDITOR=$(which vim)
# git does not work with mvim aliased vim
export GIT_EDITOR=/usr/bin/vim

# --- Java ---
#if [[ "$OSTYPE" == "darwin"* ]]; then
#    export JAVA_HOME=$(/usr/libexec/java_home)
#fi

# PySpark requires Java <= 17
pathprepend $(brew --prefix)/opt/openjdk@17/bin

# --- fd ---
if type fd &> /dev/null; then
    # Setting fd as the default source for fzf
    export FZF_DEFAULT_COMMAND='fd --type f'

    # To apply the command to CTRL-T as well
    export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"

     # Use fd (https://github.com/sharkdp/fd) instead of the default find
    # command for listing path candidates.
    # - The first argument to the function ($1) is the base path to start traversal
    # - See the source code (completion.{bash,zsh}) for the details.
    _fzf_compgen_path() {
      fd --follow --exclude ".git" . "$1"
    }

    # Use fd to generate the list for directory completion
    _fzf_compgen_dir() {
      fd --type d --follow --exclude ".git" . "$1"
    }
    export FZF_ALT_C_COMMAND="fd --type d"
fi

